.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    color:white;

    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.2em;
    }
    
    .intro {
        max-width: 60rem;

        p a {
            color: #61dafb;
            text-decoration: none;
            font-weight: bold;
            transition: 0.3s;

            &:hover {
                color: #80def8;
            }
        }
    }

    .skills {
        margin-top: 2rem;
        max-width: 60rem;

        h2 {
            font-size: 1.5em;
        }

        .tech {
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            max-height: 10rem;

            .bar {
                background:rgb(56, 56, 56);
                height: 10rem;
                width: 0.2em;
                margin-left:0.3rem;
            }

            .content {
                ul {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    list-style: none;
                    gap: 1rem;
                    max-width: 70%;
                    
                    li {    
                        i {
                            font-size: 1.5em;
                        }

                        .mastered {
                            color:#61dafb;
                        }

                        .learning {
                            color: rgb(97,218,251);
                            background: linear-gradient(0deg, rgba(97,218,251,1) 9%, rgba(88,182,207,1) 23%, #383838 70%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        .little {
                            color:#383838;
                        }
                    }
                }

                .descriptors {
                    display:flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 1rem;

                    .descriptor {
                        display:flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 0.3rem;
    
                        .circle {
                            background:#383838;
                            width:0.8em;
                            height: 0.8em;
                            border-radius: 50%;
                        }

                        .mastered {
                            background:#61dafb;
                        }

                        .learning {
                            background: rgb(97,218,251);
                            background: linear-gradient(0deg, rgba(97,218,251,1) 9%, rgba(88,182,207,1) 23%, #383838 70%);
                        }

                        .little {
                            background:#383838;
                        }
    
                        p {
                            font-size: 0.9em;
                            color:rgb(81, 81, 81);
                        }
                    }
                }
            }
        }
    }

    .services {
        margin-top: 2rem;
        max-width: 60rem;

        ul {
            margin-top: 1rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            gap:2rem;
            flex-wrap:wrap;

            li {
                display:flex;
                width: 29em;
             
                flex-direction: column;
                background:rgb(42, 42, 42);
                padding: 1rem;
                border-radius: 0.2rem;
                align-self: start;

                h3 {
                    margin-bottom: 0.1rem;
                }

                .service {
                    font-size: 0.9em;
                    height: 10em;
                    i {
                        margin-right: 0.5rem;
                    }
                }

                .qual {
                    display:flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 0.8em;
                    min-height: 7em;
                    max-height: 7em;

                    i {
                        font-size: 2em;
                        margin-right: 1rem;
                    }
                }
            }
        }

        p a {
            color: #61dafb;
            text-decoration: none;
            transition: 0.3s;
            
            &:hover {
                color: #80def8;
            }
        }
    }
}

@keyframes showText {
    100% {
      opacity: 1;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

@media (max-width: 480px) { // Mobile
    .container {
        margin: 5rem 1rem 0rem 1rem;

        .skills {    
            margin-right: 1rem; 
            .skill-bars {
                margin-top: 1rem;
                width: 100%;
            }
        }

        .services {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) { // iPads, Tablets 
    .container {
        margin: 5rem 1rem 0rem 1rem;

        .skills {    
            margin-right: 1rem; 
            .skill-bars {
                margin-top: 1rem;
                width: 100%;
            }
        }

        .services {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }
}


@media (min-width: 769px) and (max-width: 992px) { // iPads, Tablets    
    .container {
        margin: 5rem 1rem 0rem 1rem;

        .skills {   
            margin-right: 1rem; 
            .skill-bars {
                margin-top: 1rem;
                width: 100%;
                
            }
        }

        .services {
            ul {
                li {
                  width: 100%;
                }
            }
        }
    }
}