.container {
    margin-top: 6rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;

    h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.2em;
    }

    .img-wrapper {
        max-width: 60em;

        .image {
            max-width: 100%;
            border-radius: 16px;		
        }
    }

    .banner {
        background: linear-gradient(90deg, rgba(6, 36, 96, 0.575) 15%, rgba(0, 102, 255, 0.325) 100%);
        border-radius: 16px;
        padding:1rem;
        margin-top: 2rem;
        max-width: 100%;
		border: 2px solid rgba(255, 255, 255, 0.1);

		h2 {
			font-size: 1.5em;
			font-weight: 400;
			margin-bottom: 0.5rem;
		}

		p {
			font-size: 1em;
			max-height: fit-content;
		}

		a {
			color:white;
			font-size: 1em;
			text-decoration: none;
			font-weight: 500;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: #61dafb;
			}
		}
    }

    .project-list {
        max-width: 59em;
        margin-top: 2rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            gap:32px;

            li {
                align-self: start;
                width:28.5em;
                min-height: 9em;
                max-height: 10em;
                border-radius: 0.6rem;
                padding:1rem !important;
                background:rgba(6, 36, 96, 0.415);
                overflow:hidden;
                text-overflow: ellipsis;
                border: 1px solid #00c8ff2e;
                transition: 0.2s;

                &:hover {
                    cursor: pointer;
                    background:rgba(6, 36, 96, 0.615);
                }
                 
                h2 {
                    font-size: 1.4em;
                    font-weight: 400;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 0.9em;
                    max-height: fit-content;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    
        .project-list {
            ul {
                li {
                    width:100%;
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 700px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    
        .project-list {
            ul {
                li {
                    width:100%;
                }
            }
        }
    }
}

@media (min-width: 701px) and (max-width: 1024px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    
        .project-list {
            ul {
                li {
                    width:47%;
                }
            }
        }
    }
}