---
import { getLangageData } from "../scripts/utils";

import "../styles/home.scss";
import 'animate.css';


import Layout from '../layouts/BaseLayout.astro';
import NavBar from "../components/NavBar.astro";
import Banner from "/images/banner.png";

await getLangageData();

---

<Layout title="Welcome to Astro.">
	<main class="container">	
		<div class="intro">
			<h1 class="animate__animated animate__fadeIn">Welcome to shard's website 👻</h1>
			<p class="animate__animated animate__fadeIn animate__delay-1s">
				Hey! I'm Léon, a passionate 17y old developer & cybersecurity student! I'm always working on a few projects, looking for new opportunities.
			</p>
			<p class="animate__animated animate__fadeIn animate__delay-2s">
				<a href="/projects">See current projects</a>
			</p>
		</div>
		<div class="skills animate__animated animate__fadeIn animate__delay-3s">
			<h2>Skills</h2>
			<p>
				My skills are in constant evolution, I'm always learning new things and improving in programming & cybersecurity.
				I'm open to any kind of project, feel free to contact me, I'll be happy to be part of it! 
			</p>
			<div class="skill-bars">
				<div class="bar">
					<div class="info">
					<span>Python</span>
					</div>
					<div class="progress-line python">
					<span></span>
					</div>
				</div>
				<div class="bar">
					<div class="info">
					<span>PHP</span>
					</div>
					<div class="progress-line php">
					<span></span>
					</div>
				</div>
				<div class="bar">
					<div class="info">
					<span>HTML</span>
					</div>
					<div class="progress-line html">
					<span></span>
					</div>
				</div>
				<div class="bar">
					<div class="info">
					<span>CSS/SCSS</span>
					</div>
					<div class="progress-line css">
					<span></span>
					</div>
				</div>
				<div class="bar">
					<div class="info">
						<span>JavaScript</span>
					</div>
					<div class="progress-line javascript">
						<span></span>
					</div>
				</div>  
			</div>
			<p>You can also check things I've created on my github or on the project page.</p>
		</div>
		<div class="services animate__animated animate__fadeIn animate__delay-4s">
			<h2>Services</h2>
			<ul>
				<li>
					<div class="service">
						<h3>Web Development</h3>
						<div><i class="fa-solid fa-file"></i> Single Page Applications</div>
						<div><i class="fa-solid fa-user"></i> User/Admin panels</div>
						<div><i class="fa-solid fa-user-plus"></i> Authentication & Authorization</div>
						<div><i class="fa-solid fa-gears"></i> API Development</div>
					</div>
				</li>
				<li>
					<div class="service">
						<h3>Everything Else</h3>
						<div><i class="fa-solid fa-code"></i> Scripting Services, Python, JavaScript, TypeScript</div>
						<div><i class="fa-solid fa-database"></i> Database Creation & Management</div>
						<div><i class="fa-solid fa-robot"></i> Automation</div>
						<div><i class="fa-brands fa-monero"></i> Paywalls & Crypto Paywalls</div>
						<div><i class="fa-solid fa-gear"></i> Custom Requests</div>
					</div>
				</li>
				<li>
					<div class="qual">
						<i class="fa-solid fa-user-secret"></i>
						<div>
							<h3>Support for Anonimity</h3>
							<p>
								I accept anonymous payment methods, such as ETH and XMR. 
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="qual">
						<i class="fa-solid fa-face-smile-beam"></i>
						<div>
							<h3>Effective Cooperation</h3>
							<p>
								My cooperation with my clients make us feel like a team rather than a job. I revise and refactor until complete satisfaction is met. 
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="qual">
						<i class="fa-regular fa-hourglass-half"></i>
						<div>
							<h3>On Time Completion</h3>
							<p>
								I make sure that the job is done in time. I don't like to keep my clients waiting.
							</p>
						</div>
					</div>
				</li>
				<li>
					<div class="qual">
						<i class="fa-solid fa-star"></i>
						<div>
							<h3>Minimalism & simplicity</h3>
							<p>
								Minimalism and simplicity yields results that satisfy both the end user(s) and the client.
							</p>
						</div>
					</div>
				</li>
			</ul>
			<p>
				You can contact me trough my <a href="mailto:sh7user@gmail.com">Mail</a>, <a href="https://t.me/sh7user">Discord</a> or <a href="">Telegram</a>.
			</p>
		</div>
	</main>
</Layout>
