---
import "../styles/projects.scss";

import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Posts">
	<main class="container">
        <div class="image">
            <img src="https://www.zzhack.fun/images/$dark_projects_banner.svg" alt="banner image">
        </div>
        <div class="banner">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque vel sunt neque aliquam blanditiis accusamus minima quo iusto incidunt fugiat, 
                nobis commodi cum voluptatem consectetur corporis maiores possimus unde!
            </p>
        </div>
        <div class="project-list">
            <ul>
                <li>
                    <h2>RustShell</h2>
                    <p>
                        ⚙️🦀 Simple shell created with Rust.
                    </p>
                </li>
                <li>
                    <h2>Guardia_W4</h2>
                    <p>
                        🛠️ Simple website created with HTML, CSS and JavaScript. Using MaterializeCSS & Vanilla JavaScript.
                    </p>
                </li>
                <li>
                    <h2>Guardia_W3</h2>
                    <p>
                        👻 A bundle of a few basic games created with Python using Pygame. Includes Pacman, Rock Paper Scissors and noughts and crosses.
                    </p>
                </li>
                <li>
                    <h2>User_Card</h2>
                    <p>
                       💻 A user card created with react, using TailWindCSS.
                    </p>
                </li>
                <li>
                    <h2>Project 1</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque vel sunt neque aliquam blanditiis accusamus minima quo iusto incidunt fugiat, 
                    </p>
                </li>
                <li>
                    <h2>Project 1</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque vel sunt neque aliquam blanditiis accusamus minima quo iusto incidunt fugiat, 
                    </p>
                </li>
            </ul>
        </div>
	</main>
</Layout>
