---
import '../styles/footer.scss';
---

<nav class="footer">
    <div class="wrapper">
        <p>
            © Shard's website
        </p>
        <ul>
            <li>
                <a href="https://github.com/shard77"><i class="fa-brands fa-github"></i></a>
            </li>
            <li>
                <a href="mailto:sh7user@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </li>
            <li>
                <a href="https://discordapp.com/users/267599095009509376"><i class="fa-brands fa-discord"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/shard.77/"><i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</nav>