---
import '../styles/footer.scss';
---

<nav class="footer">
    <p>
        © Shard's website
    </p>
    <ul>
        <li>
            <a><i class="fa-brands fa-github"></i></a>
        </li>
        <li>
            <a><i class="fa-solid fa-envelope"></i></a>
        </li>
        <li>
            <a><i class="fa-brands fa-discord"></i></a>
        </li>
        <li>
            <a><i class="fa-brands fa-instagram"></i></a>
        </li>
    </ul>
</nav>