---
import '../styles/navbar.scss';
---

<nav class="navbar">
  <div class="wrapper">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
    <div class="nav-logo">
      <h2>shard7</h2>
    </div>
  </div>
</nav>