---
import '../styles/navbar.scss';
---

<nav class="navbar">
  <div class="nav-logo">
    <a href="/">

    </a>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
</nav>